



body{
    background: f3eee8;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.pfl{
    width: 600px;
    background: #ffffff;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.left{
    width: 200%;
    background: #efe6da;
    padding: 35px;

}

.img-box{
    width: 200px;
    height: 200px;
    border-radius: 13px 15px;
    overflow: hidden;
    margin: auto;
    border: 8px solid #fff;

}

.img-box img{
    width: 100%;
    height: 100%;
    border: 15px 13px;
    border-radius: 50%;
    object-fit: cover;
    
}

.left h3{
    margin-top: 40px;
    font-size: 14px;
    letter-spacing: 3px;
}

.left ul{
    list-style: none;
    margin-top: 20px;
}

.left ul li{
    font-size: 13px;
    margin-bottom: 16px;
    color: #444;
}

.right {
    width: 65%;
    padding: 45px;
}

.right h1 {
    font-size: 38px;
    font-weight: 300;
    line-height: 1.1;
}

.right h2{
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 4px;
    color: #777;
}

.desc{
    margin-top: 25px 0 35px;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.right h3 {
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.edu{
    margin-bottom: 25px;
}

.edu p{
    font-size: 13px;
    color: #555;
    margin-top: 6px;
}